@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/StyleSheets/StdLayout.css" rel="stylesheet" />
    <script src="~/StyleSheets/StdLayout.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body>
    <div class="header">
        <div id="rightSection" style="margin-top:15px">
            <a href="/Login/LoginPage" style="color:#fff;margin-right: 10px;padding-left:8px">Log Out</a>
        </div>
        <div id="leftSection" style="margin-top:15px">
            <a href="/Student/AddSubjects" style="color:#fff;margin-right: 15px;padding-left:30px">All Subjects</a>
            <a href="/Student/MySubjects" style="color:#fff;margin-right: 33px;padding-left:8px">My Subjects</a>
        </div>
    </div>
    <nav class="menu d-none d-lg-inline-block" style="margin-top:110px">
        <header>Menu <span>×</span></header>
        <ol>
            <li class="menu-item"><a href="/Student/AddSubjects">All Subjects</a></li>
            <li class="menu-item"><a href="/Student/MySubjects">My Subjects</a></li>
            <li class="menu-item"><a href="/Login/LoginPage">Log out</a></li>
        </ol>
        <footer><button aria-label="Toggle Menu">Toggle</button></footer>
    </nav>
    <div class="container body-content" style="height:100vh;margin-top:40px;display: inline-block;position: absolute;margin-top: 107px;">
        @RenderBody()

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/notify.min.js"></script>

<script>
    $('#sec_Card').hide();
    $('#thd-Section').hide();

    $('#alert_SubjectSaved').hide();
    $('#alert_SubjectInfo').hide();
    $('#alert_SubjectError').hide();
    //window.setTimeout(function () {
    //    $(".alert").fadeTo(500, 0).slideUp(500, function () {
    //        $(this).remove();
    //    });
    //}, 2000);
</script>